:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --btn-hover-color: #404bbf;
  --border-color: #e7e9fc;
  --link-customers: #8e8f99;
  --modal-bgc: #fcfcfc;
}

.list {
  list-style: none;
}

.link,
.contacts-link,
.logo .span-logo {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.button,
.button-secondary {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header-container {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list {
    display: none;
  }

  .contacts-adress {
    display: none;
  }

  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }

  .span-logo {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    align-items: center;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-open-btn-icon {
    stroke: var(--primary-text-color);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 500ms linear, visibility 500ms linear;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
    background-color: var(--border-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list-mobile {
    margin-bottom: auto;
  }

  .mobile-menu-link {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--btn-hover-color);
  }

  .mobile-menu-item {
    margin-bottom: 40px;
  }

  .mobile-menu-contact-item {
    margin-bottom: 40px;
  }

  .mobile-menu-contact-info {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
  }

  .mobile-menu-mail-info {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  .mobile-menu-social-icon {
    display: flex;
    gap: 56px;
  }

  .mobile-social-icon-item {
    width: 40px;
    height: 40px;
  }

  .social-list-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-icon-mobile {
    fill: var(--secondary-bg-color);
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .contacts-adress {
    font-style: normal;
  }

  .contacts-item + .contacts-item {
    margin-top: 12px;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }

  .span-logo {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .site-nav-list:hover,
  .site-nav-list:focus {
    color: var(--btn-hover-color);
  }

  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav-list {
    padding: 24px 0;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    position: relative;
    padding: 24px 0;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--btn-hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -4px;
    height: 4px;
    content: "";
    border-radius: 2px;
    background-color: #404bbf;
  }

  .menu-list-item {
    line-height: 0;
  }

  .contacts-list {
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list:hover,
  .contacts-list:focus {
    color: var(--btn-hover-color);
  }
}

/* Desktop */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-nav {
    display: flex;
    align-items: center;
    column-gap: 76px;
  }

  .menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .contacts-adress {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Hero mobile */
@media screen and (max-width: 427px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/job-mobile/office-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--secondary-text-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 427px;
    padding: 112px 0;
    margin: 0 auto;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 427px),
  screen and (min-resolution: 192dpi) and (max-width: 427px),
  screen and (min-resolution: 2dppx) and (max-width: 427px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/job-mobile/office-mobile@2x.jpg");
  }
}

.hero-title-mobile {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-bg-color);
}

/* Hero tablet */
@media screen and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/job-tablet/office-tablet@1x.jpg");

    background-size: cover;
    padding: 112px 0;
    max-width: 768px;
    height: 436px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 428px),
  screen and (min-resolution: 192dpi) and (min-width: 428px),
  screen and (min-resolution: 2dppx) and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/job-tablet/office-tablet@2x.jpg");
  }
}

@media screen and (min-width: 428px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }
}

/* Hero desktop */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/job/office.jpg");
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/job/office-desktop@2x.jpg");
  }
}

.modal-open-btn,
.modal-close-btn {
  font-family: inherit;
  cursor: pointer;
}

.modal-open-btn {
  display: block;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--btn-hover-color);
}

/* About us section (2) */
@media screen and (max-width: 1157px) {
  .section-about {
    padding: 96px 0;
  }

  .about-icon {
    display: none;
  }

  .about-title {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }

  .text {
    font-weight: 500;
    margin-top: 8px;
  }

  .section-about-item:not(:last-child) .text {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .section-about-item {
    max-width: 356px;
  }

  .about-list .about-title,
  .about-list .text {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section-about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }

  .section-about-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-title {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--primary-text-color);
  }

  .text {
    font-family: var(--main-font-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }
}

/* What are we doing section/Work(3) */
@media screen and (max-width: 1157px) {
  .section-doing {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .section-doing {
    padding-top: 0px;
    padding-bottom: 120px;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }

  .work-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .section-title {
    margin-bottom: 72px;
    text-align: center;
  }
}

/* Our team section(4) */
@media screen and (max-width: 1157px) {
  .section-employees {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.section-employees {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 1158px) {
  .section-employees {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .section-employees .employees-list {
    display: flex;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section-employees .section-title {
  margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .our-team {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 72px;
    }
  }
}

.our-team {
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}

.employees-list-content {
  padding: 32px 0;
}

.employees-list-content .employees-title {
  text-align: center;
  margin-bottom: 8px;
}

.employees-list-content .employees-text {
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--btn-hover-color);
}

.social-list-icon {
  fill: var(--secondary-bg-color);
}

/* Customers section(5) */
@media screen and (max-width: 1157px) {
  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .customers-list {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
  }

  .customers-list-item {
    height: 88px;
    width: 190px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 168px;
    height: 88px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
    width: 552px;
    margin-left: auto;
    margin-right: auto;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--link-customers);
  border-radius: 4px;
  color: var(--link-customers);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--btn-hover-color);
  border: 1px solid var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-logo,
.customers-list-link:focus .customers-list-logo {
  fill: var(--btn-hover-color);
}

.customers-list-logo {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-adapt {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .footer-social-list {
    text-align: center;
  }

  .button-footer-submit {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text-form {
    text-align: center;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-bg-color);
    margin-bottom: 16px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-form-input {
    background-color: transparent;
    border: 1px solid var(--primary-bg-color);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    height: 20px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    opacity: 0.3;
    border: 1px solid var(--primary-bg-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .footer-form-input::placeholder {
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .social-container {
    padding-left: 108px;
  }

  .logo-footer {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .social-container {
    display: flex;
    gap: 80px;
  }

  .logo-footer {
    display: flex;
    gap: 120px;
  }

  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .logo-footer {
    display: flex;
  }

  .form-footer {
    display: flex;
  }

  .footer-form-input {
    width: 264px;
  }
}

.footer-adapt {
  max-width: 264px;
}

.text-footer {
  text-align: start;
  margin-top: 16px;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
}

.span-logo-footer {
  color: var(--secondary-bg-color);
}

.footer-social-list {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-bg-color);
}

.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-text-form {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
  margin-bottom: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--primary-bg-color);
}

@media screen and (max-width: 1157px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-form-wrapper {
    margin-top: 72px;
  }
}

.footer-form-field-wrapper {
  margin-right: 24px;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  height: 40px;
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  margin-bottom: 16px;
  color: var(--primary-bg-color);
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.button-footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.footer-icon {
  margin-left: 16px;
}

/* Portfolio */
.site-nav-list-portfolio {
  display: block;
  position: relative;
  padding: 24px 0px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list-portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.portfolio-section {
  padding: 96px 0 120px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.employees-list-text-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio-list-item {
  flex-basis: calc((100% - 192px) / 9);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-secondary {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-scnd {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.button-secondary {
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-bg-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--btn-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary:hover,
.button-secondary:focus {
  border: 1px solid transparent;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.text-overlay {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--secondary-bg-color);
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 112px 24px;
  background-color: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--btn-hover-color);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-bg-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form-title {
  display: block;
  color: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contact-form-field-wrapper {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customers);
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  color: var(--primary-bg-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: var(--accent-color);
}

.icon-field {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .icon-field {
  fill: var(--accent-color);
}

.textarea-field-wrapper {
  margin-bottom: 16px;
}

.textarea-wrapper {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrapper:focus {
  border-color: var(--accent-color);
}

.contact-form-own-checkbox {
  margin-bottom: 24px;
}

.checkbox-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customers);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-own:checked + .checkbox-wrapper > .checkbox-icon {
  background-color: var(--btn-hover-color);
  border: none;
  fill: var(--primary-bg-color);
  border-color: var(--btn-hover-color);
}

.checkbox-icon {
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.icon-checkbox {
  cursor: pointer;
}

.checkbox-link {
  color: var(--accent-color);
}

.button-modal-submit {
  font-family: var(--main-font-family);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
