:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --btn-hover-color: #404bbf;
  --border-color: #e7e9fc;
  --link-customers: #8e8f99;
  --modal-bgc: #fcfcfc;
}

.list {
  list-style: none;
}

.link,
.contacts-link,
.logo .span-logo {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.button,
.button-secondary {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Components */
.modal-open-btn,
.modal-close-btn {
  font-family: inherit;
  cursor: pointer;
}

.modal-open-btn {
  display: block;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--btn-hover-color);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.span-logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.site-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.site-nav-list {
  display: block;
  padding: 24px 0px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav-list-studio {
  display: block;
  position: relative;
  padding: 24px 0px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list:hover,
.site-nav-list:focus {
  color: var(--btn-hover-color);
}

.site-nav-list-studio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header/contacts */
.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-adress {
  font-style: normal;
  margin-left: auto;
}

.contacts-list:hover,
.contacts-list:focus {
  color: var(--btn-hover-color);
}

/* Hero section(1) */
.hero {
  padding: 188px 0px;
  background-color: var(--primary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/job/office.jpg);
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: var(--main-font-family);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin: auto;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
  max-width: 496px;
}

/* About us section(2) */
.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
}

.section-about-item {
  flex-basis: calc((100% - 72px) / 4);
}

.about-title {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.text {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/* What are we doing section/Work(3) */
.section-doing {
  padding-top: 0px;
  padding-bottom: 120px;
}
.work-list {
  display: flex;
  gap: 24px;
}

.work-list-item {
  flex-basis: calc((100% - 48px) / 3);
}
.section-title {
  margin-bottom: 72px;
  font-family: var(--main-font-family);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

/* Our team section(4) */
.employees-list {
  display: flex;
  gap: 24px;
}

.employees-title {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.employees-text {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--title-text-color);
}
.employees-list-content {
  padding: 32px 0px;
}

.section-employees {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-bg-color);
}

.our-team {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--btn-hover-color);
}

.social-list-icon {
  fill: var(--secondary-bg-color);
}

/* Customers section(5) */
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--link-customers);
  border-radius: 4px;
  color: var(--link-customers);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-logo {
  fill: currentColor;
}
.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--btn-hover-color);
  border: 1px solid var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-logo,
.customers-list-link:focus .customers-list-logo {
  fill: var(--btn-hover-color);
}

/* Footer */
.footer {
  padding: 100px 0px;
  background-color: var(--primary-text-color);
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.span-logo-footer {
  color: var(--secondary-bg-color);
}

.text-footer {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
  width: 264px;
}

.footer-social-list {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-bg-color);
}

.social-container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.social-container-secondary {
  margin-right: 100px;
}

.logo-footer {
  margin-right: 120px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-text-form {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  margin-left: 80px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
}

.form-footer {
  display: flex;
}

.footer-form-field-wrapper {
  margin-right: 24px;
}

.footer-form-input {
  background-color: transparent;
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: var(--primary-bg-color);
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.button-footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.footer-icon {
  margin-left: 16px;
  fill: var(--primary-bg-color);
}

/* Portfolio */
.site-nav-list-portfolio {
  display: block;
  position: relative;
  padding: 24px 0px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list-portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.portfolio-section {
  padding: 96px 0 120px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.employees-list-text-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.portfolio-list-item {
  flex-basis: calc((100% - 192px) / 9);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-secondary {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-scnd {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.button-secondary {
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-bg-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--btn-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary:hover,
.button-secondary:focus {
  border: 1px solid transparent;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.text-overlay {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--secondary-bg-color);
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 112px 24px;
  background-color: var(--modal-bgc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--btn-hover-color);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-bg-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form-title {
  display: block;
  color: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contact-form-field-wrapper {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customers);
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  color: var(--primary-bg-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: var(--accent-color);
}

.icon-field {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .icon-field {
  fill: var(--accent-color);
}

.textarea-field-wrapper {
  margin-bottom: 16px;
}

.textarea-wrapper {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrapper:focus {
  border-color: var(--accent-color);
}

.contact-form-own-checkbox {
  margin-bottom: 24px;
}

.checkbox-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link-customers);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-own:checked + .checkbox-wrapper > .checkbox-icon {
  background-color: var(--btn-hover-color);
  border: none;
  fill: var(--primary-bg-color);
  border-color: var(--btn-hover-color);
}

.checkbox-icon {
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.icon-checkbox {
  cursor: pointer;
}

.checkbox-link {
  color: var(--accent-color);
}

.button-modal-submit {
  font-family: var(--main-font-family);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
